*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(20, 33, 99);
}
p{
    color: #545151;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}  
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: rgb(37, 56, 137);
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0;
    transition: background 0.3s;
}
.btn:hover{
    background: rgb(20, 33, 99);
}
.header{
    background: radial-gradient(#fff, #c4d5fe);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
    text-align: center;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width : 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.small-container h2{
    color:#39383f;
    text-decoration: underline;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    position: relative;
    line-height: 60px;
    color:#49484d;
}
h4{
    color:#5e5d65;
    font-weight: normal; 
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #e3280f;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #c4d5fe);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color:#5d5c6c;
}
.footer{
    background: #464647;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
}
.footer p{
    margin: 0;
    color:rgb(209, 220, 220)
}
.footer h3{
    margin-bottom: 15px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    height: 1px;
    background: #bfbfbf;
    margin: 20px 0;
}

/*-- all products --*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #a4a5bb;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn span:hover{
    background: rgb(20, 33, 99);
    color: white;
    cursor: pointer;

}
.about{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #e7edef;
    display: inline-block;
    font-size: 16px;
}
.about h1{
    margin-top: 30px;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
.about p{
    margin: 10px 0;
    line-height: 24px;
}





